<!DOCTYPE html>
<html>
<head>
    <title>Laptop Device Specifications</title>
</head>
<body>

    <h1>Laptop Device Specifications</h1>

    <h2>Student Details</h2>
    <p><b>Name:</b> HARISH P</p>
    <p><b>Register Number:</b> 26012751</p>

    <h2>Device Specifications</h2>

    <p><h4><b>Processor:</b></h4> intel Core i5  <br>
        <h4><b>RAM:</b></h4> 8GB <br>
        <h4><b>Storage:</b></h4> 512GB SSD<br>
        <h4><b>Brand:</b></h4> ACER Travel Lite<br>
        <h4><b>Operating System:</b></h4> Windows 10 <br>
        </p>

</body>
</html>